.header {
  align-items: center;
  display: flex;
  height: 56px;
  padding: 0px 24px;

  .title {
    color: $salmon;
    font-family: PoppinsSemibold;
    font-size: 20px;
    margin: auto;
    text-align: center;
  }
}

.main {
  padding: 0px 24px;

  .form {
    margin-top: 24px;

    .input-container {
      margin-bottom: 16px;

      .label {
        color: $black;
        display: block;
        font-family: PoppinsRegular;
        font-size: 15px;
        margin-bottom: 8px;
      }

      .input {
        background-color: $beige; 
        border: none;
        border-radius: 18px;
        height: 36px;
        padding: 0px 16px;
        width: 100%;
      }
    }

    .button {
      align-items: center;
      border: none;
      border-radius: 30px;
      display: flex;
      font-family: PoppinsSemibold;
      font-size: 16px;
      height: 45px;
      justify-content: center;
      margin: auto;
      margin-top: 24px;
      width: 207px;
      &.dark {
        background-color: $salmon;
        color: $terracotta;
      }
    }
  }

  .sign-up {
    font-size: 13px;
    margin-top: 36px;
    text-align: center;
    
    .link {
      color: $terracotta;
      cursor: pointer;
      font-family: LeagueSpartan-Light;
    }
  }
}